/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000080;
  text-decoration: underline;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #C0D9AF;
  padding: 10px;
  font-size: 18px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #d6ebf2;
}
body {
  color: #000
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

hr {
  border-color: #000;
}

th {
  text-align: center;
}

div {
  max-width: 750px;
}

li {
  text-align: left;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #C0D9AF;
  color: #000080;
}

#exTab1 .nav-pills > li > a {
  border-radius: 8px 8px 0px 0px;
}

#exTab2 .nav-pills > li > a {
  border-radius: 8px 8px 0px 0px;
}

#exTab3 .nav-pills > li > a {
  border-radius: 8px 8px 0px 0px;
}

#exTab1 .tab-content {
  color : black;
  background-color: #C0D9AF;
  padding : 5px 15px;
  border-radius: 0 8px 8px 8px;
}

#exTab2 .tab-content {
  color : black;
  background-color: #C0D9AF;
  padding : 5px 15px;
  border-radius: 8px;
}

#exTab3 .tab-content {
  color : white;
  background-color: #C0D9AF;
  padding : 5px 15px;
  border-radius: 8px;
}

#exTab2 h3 {
  color : black;
  background-color: #C0D9AF;
  padding : 5px 15px;
}


img {
  width: 625px;
  border-radius: 8px;
}

.top-image {
  width: 50px;
  display: inline;
  border-radius: 8px;
}

.thumbnail {
	width: 325px;
}

.tab-pane {
  width: 780px;
}

.tab-pane hr {
  text-align: left;
  width: 80%;
}

.tab-pane h3 {
  text-align: left;
}

.tab-pane p {
  text-align: left;
  width: 90%;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000080;
  text-decoration: none;
}

.dropdown-toggle {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000080;
}

.dropdown-toggle:hover {
  color: #000;
}

.dropdown-toggle:focus {
  color: #000080;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
}

.masthead-nav > .active {
  background-color: #C0D9AF;
  border-radius: 8px;
  padding: 7px;
  color: #FFF;
}


@media (min-width: 750px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  .site-wrapper-inner {
    padding: 80px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 850px;
  }
}



.signUpContainer {
  background-color: #FFFFFF;
  width: 500px;
  margin: auto; 
  padding: 20px;
  color: #000;
  /* text-align: center; */
  border-radius: 25px;
} 

.ongoingOH {
  color: #000000;
}

.unavailableOH {
  color: #9D9D9D;
}

input.ng-invalid, select.ng-invalid, textarea.ng-invalid, input.formElement.ng-invalid {
    border: solid 1pt red;
}
